{% load static %}

<aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">

          <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_table"></i>
                          <span>기준정보관리</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
                <li><a class="" href="">법인정보</a></li>
                <li><a class="" href="">사업장</a></li>
                <li><a class="" href="">사업부</a></li>
                <li><a class="" href="">공장</a></li>
                <li><a class="" href="">작업장</a></li>
                <li><a class="" href="">품목</a></li>
                <li><a class="" href="">거래처(미정)</a></li>
                <li><a class="" href="">BOM(미정)</a></li>
                <li><a class="" href="cb_code">통합코드관리</a></li>
            </ul>
          </li>
            <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_table"></i>
                          <span>원가관리</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
                <li><a class="" href="">품목마스터</a></li>
                <li><a class="" href="">품목계정</a></li>
            </ul>
          </li>
            <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_table"></i>
                          <span>원가기준정보</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
                <li><a class="" href="">Cost Center</a></li>
                <li><a class="" href="">원가요소계정</a></li>
            </ul>
          </li>
            </li>
             <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_table"></i>
                          <span>원가계산</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
                <li><a class="" href="">원가 I/F</a></li>
                <li><a class="" href="">원가 계산</a></li>
            </ul>
          </li>
            </li>
             <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_table"></i>
                          <span>원가분석</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
                <li><a class="" href="">원가 예측</a></li>
            </ul>
          </li>

            <li class="sub-menu">
            <a class="" href="">
                          <i class="icon_house_alt"></i>
                          <span>Dashboard</span>
                      </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
